requests~=2.31.0
websocket-client~=1.8.0
pillow
python-dateutil~=2.9.0.post0
emoji~=2.11.1
millify~=0.1.1
pre-commit
colorama~=0.4.6
flask~=3.0.3
irc~=20.4.0
pandas~=2.2.2
pytz~=2024.1

python-dotenv~=1.0.1
setuptools~=69.5.1
